* {
    box-sizing: border-box;
}
/* #root{
    scroll-behavior: smooth;
} */
html{
    scroll-behavior: smooth;

}
body{
    background-color: gray;
    margin:0;
    font-family:'Lato', Courier, monospace;
    font-size: 16px;
    scroll-behavior: smooth;
}
h1{
    font-size: 70px;
    color:antiquewhite;
    font-family: amatic;
    
}
/* bezpośrednie dziecko body */
body >header{
    
    text-align: center;
    
    background-color: rgba(256,256,1,0.3);
    padding: 10px;
   
    
  
}
/* Nawigacja */
nav {
    position: sticky;
    top: 0;
}

nav ul{
   
    /* punktowanie list */
    list-style-type: none;
    padding: 0;
    height: 100px;
    border-top:none;
    background-color: rgba(23, 85, 23, 0.8);
    margin: 0;

}

/* display flex */

nav ul{
    display: flex;
    justify-content: space-evenly;
  

    /* justify-content: ustawianie elementów poziomie
    flex-start: wartość domyślna
    flex-end: wyświetl na końcu 
    center: wyśrodkuj
    space-around - taka sama przestrzeń wokół każdego dziecka
    space-evenly: taka sama przestrzeń między elementami 
    space-between: przestrzenie pomiędzy elemenatmi, ale między elementem a ganicą przestrzeni nie ma  */

    align-items: center;

    /* pozycjonuje elementy w pionie */
flex-direction:row;
/* do kopania flexa zamiana rol między justify-content a align-items */
}

table, tr, th, td{
    border: 1px solid black;
}

/* Pojedyncze przyciski */

nav ul li{
    border: 2px solid burlywood;
    font-size: 20px;
    padding: 10px 30px;
    margin: 5px;
    background-color: rgba(26, 143, 42, 0.6);
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s; 
   
   

}

nav ul li a{
    text-decoration: none;
    color: beige;
}
/* styl po najechaniu */
nav ul li:hover{
    border: 2px solid burlywood;
    font-size: 20px;
    padding: 10px 30px;
    margin: 5px;
    background-color: rgba(256, 256, 1, 0.7);
    border-radius: 5px;
    cursor: pointer;   
   
}

/* styl elementu po kliknięciu */
nav ul li:active{
    border: 2px solid rgb(63, 37, 3);
    transition: none;
    color: rgba(23, 85, 23, 0.5);
   
}
.cookies{

    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
   
    background-color: rgba(23, 85, 23, 0.2);
    width: 100%;
   padding: 5px;
    

}



button{
background-color: rgb(8, 59, 8);
color:beige;
font-size: 15px;
border-radius: 10%;
/* position: absolute; */
right:0;
padding: 10px;

}

button:hover{
    background-color: rgb(30, 255, 0);
    color: black;
}

main{
    /* border: 10px solid rgb(69, 163, 14); */
    padding: 2em;
}

main>header{
    border: 2px groove rgb(69, 163, 14);
}

.imgField{
    /* border: 5px solid rgb(3, 49, 3); */
    text-align: center;
}

.headerText{
    /* border: 5px solid rgb(125, 207, 125); */
    padding: 0 2em 1em 2em;
   
}


img{
    max-width: 100%;
    border-radius: 50%;
}

.tableField{
    display: flex;
    justify-content: center;
    align-items: center;
}


#kontakt{
    /* border: 2px dashed red; */
    padding: 0 2em;
}

#kontakt form{
    /* border: 2px dashed blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#kontakt form input, 
#kontakt form textarea{
background-color: rgb(212, 212, 212);
width: 80%;
padding: 0.5rem;
outline: 0;
margin-bottom: .5rem;
border: 1px solid forestgreen;
border-radius: 5px;
}

#kontakt form button{
padding: .2rem 1rem;
border-radius: 3px;
outline: 0;
border:none;
cursor: pointer; 


}

footer{
    padding: .5em 1.5em;
    text-align: center;
    background-color: rgba(256,256,1,0.3);
}

/* ------------------------media------------------- */



@media(min-width:768px){

main>header, 
main>article,
#kontakt{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main>header >*,
main>article >*,
#kontakt >*{
    flex:1;
}



.imgField{
    max-width:200px;
    padding: 20px;
}

.tableField{
    display: flex;
    justify-content: center;
    align-items: center;
}


}



